<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
<h2>Chỉnh sửa món ăn</h2>

<form th:object="${dish}" method="post">

  <!-- ID (hidden) -->
  <input type="hidden" th:field="*{id}" />

  <div>
    <label>Tên món:</label>
    <input type="text" th:field="*{name}" />
  </div>

  <div>
    <label>Giá:</label>
    <input type="number" th:field="*{price}" />
  </div>

  <div>
    <label>Trạng thái:</label>
    <input type="checkbox" th:field="*{available}" /> Còn hàng
  </div>

  <button type="submit">Lưu</button>

</form>
</body>
</html>